func {{ .Name }}Pages{{ if .V2Suffix }}V2{{ end }}(ctx context.Context, conn {{ .RecvType }}, input {{ .ParamType }}, fn func({{ .ResultType }}, bool) bool) error {
	for {
		output, err := conn.{{ .AWSName }}(ctx, input)
		if err != nil {
			return err
		}

		lastPage := aws.ToString(output.{{ .OutputPaginator }}) == ""
		if !fn(output, lastPage) || lastPage {
			break
		}

		input.{{ .InputPaginator }} = output.{{ .OutputPaginator }}
	}
	return nil
}
