# There is no default owner for pull requests as reviews are scheduled based on community popularity.

# Service specific owners
/internal/service/apigatewayv2/*    @ewbankkit
/website/**/apigatewayv2*           @ewbankkit

/internal/service/appmesh/*         @ewbankkit
/website/**/appmesh*                @ewbankkit

/internal/service/backup/*          @ewbankkit
/website/**/backup*                 @ewbankkit

/internal/service/codeartifact/*    @DrFaust92
/website/**/codeartifact*           @DrFaust92

/internal/service/emr/*    @shuheiktgw
/website/**/emr*           @shuheiktgw

/internal/service/events/*      @heitorlessa @sthulb
/website/**/cloudwatch_event*   @heitorlessa @sthulb

/internal/service/fsx/*    @DrFaust92
/website/**/fsx*           @DrFaust92

/internal/service/globalaccelerator/*    @ewbankkit
/website/**/globalaccelerator*           @ewbankkit

/internal/service/glue/*    @DrFaust92
/website/**/glue*           @DrFaust92

/internal/service/kinesisanalytics/*     @ewbankkit
/website/**/kinesis_analytics*           @ewbankkit

/internal/service/kinesisanalyticsv2/*   @ewbankkit
/website/**/kinesisanalyticsv2*          @ewbankkit

/internal/service/mwaa/*    @shuheiktgw
/website/**/mwaa*           @shuheiktgw

/internal/service/route53resolver/*      @ewbankkit
/website/**/route53_resolver*            @ewbankkit

/internal/service/sagemaker/*    @DrFaust92
/website/**/sagemaker*           @DrFaust92

/internal/service/storagegateway/*   @DrFaust92
/website/**/storagegateway*          @DrFaust92

/internal/service/workspaces/*    @Tensho
/website/**/workspaces*           @Tensho
