variables:
  AWS_REGION: "us-east-1"
  AWS_ROLE_ARN: "arn:aws:iam::363883556297:role/q-microservices_gen"
  GOLANG_VERSION: "1.24.11"
  AWS_SHARED_CREDENTIALS_FILE: "$CI_PROJECT_DIR/.awscredentials"
  AWS_PROFILE: "testacc"

stages:
  - test
  - deploy

testacc:
  stage: test
  image: artifactory.sessionm.com/sde-docker/docker/library/golang:${GOLANG_VERSION}
  script:
    - |
      echo "
      [testacc]
      credential_source = Ec2InstanceMetadata
      role_arn = $AWS_ROLE_ARN
      role_session_name = $CI_PROJECT_NAME-$CI_JOB_ID-$CI_COMMIT_SHORT_SHA
      duration_seconds = 3600
      " > "$AWS_SHARED_CREDENTIALS_FILE"
    - cat $AWS_SHARED_CREDENTIALS_FILE
    - make testacc TESTS=TestAccSSMParameterVersionLabels PKG=ssm
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
