.*.swp
./*.tfstate
.DS_Store
.idea
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform/
.vagrant/
.vscode
*.backup
*.bak
*.dll
*.exe
*.iml
*.log
*.prof
*.test
*~
/pkg/
aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/bin/handler
bin/
changelog.tmp
dist/
example.tf
log.txt
markdown-link-check*.txt
modules-dev/
package-lock.json
package.json
skaff/skaff
sweeper-bin
terraform-provider-aws
terraform-providers-schema/
terraform.tfplan
terraform.tfstate
vendor/
website/.bundle
website/.vagrant
website/build
website/node_modules

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
/.vs
node_modules

.teamcity/target
awssdk.patch
