*.dll
*.exe
.DS_Store
example.tf
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfplan
terraform.tfstate
bin/
dist/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
.vscode
*.iml
*.test
*.prof
*.iml
log.txt
markdown-link-check*.txt
changelog.tmp
terraform-provider-aws
aws/testdata/service/cloudformation/examplecompany-exampleservice-exampleresource/bin/handler

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
/.vs
node_modules

.teamcity/target
