# Glob exclusions
*~
*.bak
*.backup
*.dll
*.exe
*.iml
*.log
.*.swp
*.test
./*.tfstate

# Directory exclusions
.DS_Store
.idea
.vagrant/
.terraform/
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
website/vendor

# File exclusions
example.tf
log.txt
terraform.tfplan
terraform.tfstate

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
/.vs
node_modules
