dist: xenial
sudo: required
services:
  - docker
language: go
go:
  - "1.12.x"
git:
  depth: 1

env:
  global:
    GOFLAGS=-mod=vendor

matrix:
  fast_finish: true
  allow_failures:
    - go: tip
  include:
  - go:
    script: make test
  - go:
    script: make lint
  - go:
    script: make website-test

install:
# This script is used by the Travis build to install a cookie for
# go.googlesource.com so rate limits are higher when using `go get` to fetch
# packages that live there.
# See: https://github.com/golang/go/issues/12933
- bash scripts/gogetcookie.sh
- make tools

branches:
  only:
    - master
