---
extends: default

ignore: |
  .github/workflows/agentics-maintenance.yml
  .github/workflows/*.lock.yml

rules:
  comments:
    min-spaces-from-content: 1

  document-start: disable

  line-length: disable

  truthy:
    check-keys: false
