{{- define "note" -}}
{{- if eq "new-resource" .Type -}}
* **New Resource:** `{{.Body}}` (https://github.com/hashicorp/terraform-provider-aws/issues/{{- .Issue -}})
{{- else if eq "new-data-source" .Type -}}
* **New Data Source:** `{{.Body}}` (https://github.com/hashicorp/terraform-provider-aws/issues/{{- .Issue -}})
{{- else if eq "new-guide" .Type -}}
* **New Guide:** `{{.Body}}` (https://github.com/hashicorp/terraform-provider-aws/issues/{{- .Issue -}})
{{- else -}}
* {{.Body}} (https://github.com/hashicorp/terraform-provider-aws/issues/{{- .Issue -}})
{{- end -}}
{{- end -}}
