{{- define "note" -}}
{{- if eq "new-resource" .Type -}}
* **New Resource:** `{{.Body}}` ([#{{- .Issue -}}](https://github.com/hashicorp/terraform-provider-aws/issues/{{- .Issue -}}))
{{- else if eq "new-data-source" .Type -}}
* **New Data Source:** `{{.Body}}` ([#{{- .Issue -}}](https://github.com/hashicorp/terraform-provider-aws/issues/{{- .Issue -}}))
{{- else if eq "new-function" .Type -}}
* **New Function:** `{{.Body}}` ([#{{- .Issue -}}](https://github.com/hashicorp/terraform-provider-aws/issues/{{- .Issue -}}))
{{- else if eq "new-guide" .Type -}}
* **New Guide:** `{{.Body}}` ([#{{- .Issue -}}](https://github.com/hashicorp/terraform-provider-aws/issues/{{- .Issue -}}))
{{- else -}}
* {{.Body}} ([#{{- .Issue -}}](https://github.com/hashicorp/terraform-provider-aws/issues/{{- .Issue -}}))
{{- end -}}
{{- end -}}
