# Copyright IBM Corp. 2014, 2026
# "SPDX-License-Identifier: MPL-2.0"

name: Semgrep Checks

on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    paths:
      - internal/**
      - .semgrep*yml
      - .github/workflows/semgrep-ci.yml

## NOTE: !!!
## When changing these workflows, ensure that the following is updated:
##   - Documentation: docs/continuous-integration.md
##   - Documentation: docs/makefile-cheat-sheet.md
##   - Makefile: ./GNUmakefile

env:
  SEMGREP_SEND_METRICS: "off"
  SEMGREP_ENABLE_VERSION_CHECK: false
  SEMGREP_TIMEOUT: 300
  SEMGREP_ARGS: --error --quiet

jobs:
  semgrep:
    name: Code Quality Scan
    runs-on: ubuntu-latest
    container:
      image: "semgrep/semgrep:1.147.0"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: make semgrep-code-quality

  naming_cae:
    name: Naming Scan Caps/AWS/EC2
    runs-on: ubuntu-latest
    container:
      image: "semgrep/semgrep:1.147.0"
    if: (github.action != 'dependabot[bot]')
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: make semgrep-naming-cae

  naming_tests:
    name: Test Configs Scan
    runs-on: ubuntu-latest
    container:
      image: "semgrep/semgrep:1.147.0"
    if: (github.action != 'dependabot[bot]')
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: make semgrep-naming

  naming_semgrep:
    name: Service Name Scan
    runs-on: ubuntu-latest
    container:
      image: "semgrep/semgrep:1.147.0"
    if: (github.action != 'dependabot[bot]')
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: make semgrep-service-naming
