name: team-slack-bot

on:
  schedule:
    - cron: '0 15 * * 1-5'

jobs:
  open-pr-stats:
    runs-on: ubuntu-latest
    name: open-pr-stats
    if: github.repository_owner == 'hashicorp'
    steps:
      - uses: actions/create-github-app-token@ad38cffc07bac6e3857755914c4c88bfd2db4da4 # v1.10.2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PEM }}
      - name: open-pr-stats
        uses: breathingdust/github-team-slackbot@3519d5c7bdd556317b6158aeff5ae9c93c960bdd # v18.5.2
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          team_slug: terraform-aws
          slack_token: ${{ secrets.SLACK_BOT_TOKEN }}
          slack_channel: ${{ secrets.SLACK_CHANNEL }}
