name: Auto Triage

permissions:
  contents: read
  issues: write
  pull-requests: write

on:
  pull_request_target:
    types:
      - edited
      - opened
      - synchronize

  issues:
    types:
      - edited
      - opened

env:
  ISSUE_URL: ${{ github.event.issue.html_url ||  github.event.pull_request.html_url }}

jobs:
  labelers:
    name: Labelers
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          sparse-checkout: .github

      - name: Run Community Check
        id: community_check
        uses: ./.github/actions/community_check
        with:
          user_login: ${{ github.event.issue.user.login || github.event.pull_request.user.login }}
          maintainers: ${{ secrets.MAINTAINERS }}
          core_contributors: ${{ secrets.CORE_CONTRIBUTORS }}
          partners: ${{ secrets.PARTNERS }}

      - name: Add needs-triage
        if: |
          github.event.action == 'opened'
          && steps.community_check.outputs.maintainer == 'false'
        env:
          GH_CLI_SUBCOMMAND: ${{ github.event_name == 'issues' && 'issue' || 'pr' }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: gh $GH_CLI_SUBCOMMAND edit $ISSUE_URL --add-label needs-triage

      - name: Apply Pull Request Service Labels
        if: github.event_name == 'pull_request_target'
        uses: actions/labeler@8558fd74291d67161a8a78ce36a881fa63b766a9 # v5.0.0
        with:
          configuration-path: .github/labeler-pr-triage.yml
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Apply Pull Request Size Labels
        if: github.event_name == 'pull_request_target'
        uses: codelytv/pr-size-labeler@4ec67706cd878fbc1c8db0a5dcd28b6bb412e85a # v1.10.3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          xs_label: "size/XS"
          xs_max_size: "30"
          s_label: "size/S"
          s_max_size: "60"
          m_label: "size/M"
          m_max_size: "150"
          l_label: "size/L"
          l_max_size: "300"
          xl_label: "size/XL"
          message_if_xl: ""

      - name: Apply Issue Service Labels
        if: github.event_name == 'issues'
        uses: github/issue-labeler@c1b0f9f52a63158c4adc09425e858e87b32e9685 # v3.4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler-issue-triage.yml
          enable-versioned-regex: 0
          include-title: 1

      - uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b # v2.1.1
        id: token
        if: github.event_name == 'issues'
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PEM }}

      - name: Apply Issue Labels that Trigger Events
        if: github.event_name == 'issues'
        uses: github/issue-labeler@c1b0f9f52a63158c4adc09425e858e87b32e9685 # v3.4
        with:
          repo-token: ${{ steps.token.outputs.token }}
          configuration-path: .github/labeler-issue-trigger.yml
          enable-versioned-regex: 0
          include-title: 1

      - name: Credit Core Contributor Contributions
        if: |
          github.event_name == 'pull_request_target'
          && steps.community_check.outputs.core_contributor == 'true'
          && !contains(github.event.pull_request.labels.*.name, 'external-maintainer')
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          gh pr edit $ISSUE_URL --add-label external-maintainer

      - name: Credit Partner Contributions
        if: |
          github.event_name == 'pull_request_target'
          && steps.community_check.outputs.partner == 'true'
          && !contains(github.event.pull_request.labels.*.name, 'partner')
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          gh pr edit $ISSUE_URL --add-label partner
